<%- include('../partials/header.ejs'); -%>
<%- include('../partials/navbar.ejs'); -%>
<%- include('../partials/sidebar.ejs'); -%>
<div class="container">
    <h3>WELCOME TO EMPLOYEE MANAGEMENT SYSTEM</h3>
    <%- include('../partials/data/applyOverdraft.ejs') -%>
</div>
<%- include('../partials/footer.ejs'); -%>