<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/adminSidebar.ejs'); -%>
<%- include ('../partials/adminNavbar.ejs'); -%>
<div class="container">
    <h3>WELCOME TO KIMATHI UNIVERSITY BOOKING SYSTEM</h3>
    <%- include('../partials/data/userChangePasswordForm.ejs') -%>
</div>
<%- include ('../partials/footer.ejs'); -%>