<div class="form">
  <h3>Leave Application Details</h3>
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
              <th scope="col">Overdraft Id</th>
              <th scope="col">Employee Id</th>
              <th scope="col">Total Salary</th>
              <th scope="col">Overdraft Amount</th>
              <th scope="col">Application Status</th>
          </tr>
        </thead>
        <tbody>
          <% if (sampleData.length > 0){ %>
              <% sampleData.forEach((data)=>{ %>
                  <tr>
                    <td><%= data.overdraftId %></td>
                    <td><%= data.emp_id %></td>
                    <td><%= data.total_salary %></td>
                    <td><%= data.overdraftAmount %></td>
                    <td><%= data.ApplicationStatus %></td>
                  </tr>
                <% }) %>
          <% } else { %>
            <tr>
              <td colspan="5">No Data Found</td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>